# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native & Android build artifacts
.kotlin/
android/.gradle/
android/app/build/
android/build/
android/.cxx/
android/.idea/
android/local.properties
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab

# IDE & OS
.idea/
.vscode/
.DS_Store
*.pem
Thumbs.db

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local

# typescript
*.tsbuildinfo
